<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
</head>
<body>
    <div class="logincard" style="display: flex; justify-content: center; align-items: center; flex-direction: column;">
        <h2>Login</h2><br>
        <form  method="post">
            <input type="text" name="usernm" placeholder="username"><br>
            <input type="password" name="pwd" placeholder="password"><br>
            <button type="submit"><a href="{{ url_for('home') }}">Login</a></button><br>
            <a href="{{ url_for('signup') }}">forget password</a>
        </form>
    </div>
</body>
</html>