<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign</title>
</head>
<body>
    <div class="logincard" style="display: flex; justify-content: center; align-items: center; flex-direction: column;">
        <h2>Sign-up</h2>
        <form  method="post">
            <input type="text" name="usernm" placeholder="username"><br>
            <input type="email" name="email" placeholder="email"><br>
            <input type="password" name="pwd" placeholder="password"><br>
            <button type="submit">Submit</button><br>
        </form>
    </div>
</body>
</html>